<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Il tuo E-commerce</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<footer>
  <div class="container">
    <p>© 2024 Caesazon. Tutti i diritti riservati.</p>
    <a>Hai bisogno di aiuto? Clicca </a>
    <a href="">qui</a>    <!-- TODO : CLICK = goToHelpRequests()-->
    <a> per richiedere assistenza</a>
  </div>
</footer>
