.container {
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.card-list {
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
  margin-bottom: 5%;
}

.card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.card-list .card .card-body{
  width: 300px;
  height: 150px;
}

/* Rendi il bottone "Dettagli" responsivo, usato per admin e user management */
.btn-primary {
  display: block; /* Assicura che il pulsante sia un blocco per occupare l'intera larghezza del contenitore */
  width: 60%; /* Imposta la larghezza al 100% per adattarsi al contenitore genitore */
}

/* Rendi la descrizione responsiva, usato in payment-second-page e product page */
.card-body {
  max-width: 100%; /* Imposta la larghezza massima al 100% per adattarsi al contenitore genitore */
}

.card-title {
  font-size: 1rem; /* Imposta una dimensione del titolo della card responsiva */
}


/* usato in payment-second-page e product page */
.card-body > .container {
  width: 100%;
}

/* Stili per il responsive design */
@media screen and (max-width: 600px) {
  .search-container{
    margin-right: 25%;
  }
  .search-container input[type=text] {
    width: 50%;
  }
  .search-container button {
    width: 30%;
  }
}

.btnArrow {
  width: 55px;
  height: 50px;
  margin-top: 13%;
  border-radius: 50%;
  border: none;
  background: none;
}

.btnArrow:hover {
  background-color: #634080;
}

.arrow {
  width: 20px;
  height: 20px;
}

.collection {
  display: grid;
  grid-auto-columns: max-content;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px auto;
  max-width: 1000px;
}

.product {
  border: 1px solid black;
  border-radius: 2vh;
}

.product__image {
  background-color: #e5e5e5;
  display: block;
  height: 200px;
  width: 100%;
}

.product__name p {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.product__name p a {
  color: #000000;
  text-decoration: none;
}

.product__price p {
  font-family: sans-serif;
  font-size: 14px;
}




@media (min-width: 768px) {
  .containerProdotti .col-md-4 {
    flex: 0 0 calc(33.33% - 15px); /* 33.33% per tre colonne con un gap di 15px */
    max-width: calc(33.33% - 15px);
  }
}




.product {
  border: 1px solid black;
  border-radius: 2vh;
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.product:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(255, 156, 0);
  transform: scale(1.01);
}


.product img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
