.title{
  font-weight: bold;
  font-size: 2rem;
}
/* Correzione del bottone  */
.custom-btn {
  border: 2px solid black;
  background-color: #FF9C00;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.custom-btn:hover,
.custom-btn:focus {
  background-color: #a96c00 !important;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.custom-btn:active {
  background-color: #FF9C00 !important;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  transform: scale(0.98);
}


.form-control:focus{
  box-shadow: 0 0 3px 1px #000000;
  border-color: black;
}

.cont{
  width: 20%;
}

.custom-btb {
  border-color: black;
  background-color: #ffc875;
  color: #ffffff;
}
.custom-btb:hover,
.custom-btb:focus{
  border-color: black;
  background-color: #a96c00 !important;
  box-shadow: 0 0  #000000 !important;
}
.custom-btb:active {
  border-color: black;
  background-color: #FF9C00 !important;
  box-shadow: 0 0 3px 1px #000000 !important;
}

.custom-bln {
  border-color: black;
  background-color: #ffffff;
  color: #000000;
}
.custom-bln:hover,
.custom-bln:focus{
  color: #000000;
  border-color: black;
  background-color: #ffffff !important;
  box-shadow: 0 0 5px 2px #000000 !important;
}
.custom-bln:active {
  color: #000000;
  border-color: black;
  background-color: #ffffff !important;
  box-shadow: 0 0 5px 2px #000000 !important;
}

.aldos{
  margin-top: -2%;
}


